INI
#basic settings
bind-address = 0.0.0.0
port = 3306

#Connections
max_connections = 200

#InnoDB
innodb_buffer_pool_size = 512M
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1

#Binary Logging
server-id = 1
log_bit = mysql-bin
binlog_format = ROW

#Slow Query Log
slow_query_log = ON
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2

#Error Log
log_error = /var/log/mysql/error.log

#Character set
character-set-server = utf8mb4
collation-server = utf8mb4_inucode_ci
